* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Mallanna;
  src: url("./src/fonts/Mallanna-Regular.ttf"), type("truetype");
}

@font-face {
  font-family: Marker;
  src: url("./src/fonts/PermanentMarker-Regular.ttf"), type("truetype");
}

body {
  font-family: Marker;
}
